
<link href="__STATIC_PATH__/index/footer/css/footer.css" rel="stylesheet">
<div class="footer">
		<div class="footer-content">
			<div class="left">
				<div class="logo">
					<a class="logo-pic" href=""><i class="icon icon-zaih"></i>果壳网出品</a>
				</div>
				<ul class="footer-link">
					<li><a href="">首页</a></li>
					<li><a href="">下载App</a></li>
					<li><a href="">关于我们</a></li>
					<li><a href="">帮助</a></li>
				</ul>
				<div class="copyright">
					<p>GUOKR © 2015 LOVINGLY MADE IN BEIJING </p>
					<p>北京我最在行信息技术有限公司 </p>
					<p>京B2-20160131 | <a href=""><img src="__STATIC_PATH__/index/footer/img/police.png" /> 京公网安备 11010502031582号</a></p>
				</div>
			</div>
			<div class="right">
				<p>4000-691-791</p>
				<p>工作日 10:00-19:00</p>
				<span class="kefu">在线客服</span>
				<div class="saoma">
					<span><img src="__STATIC_PATH__/index/footer/img/auth.png" alt=""><div>官方微信</div></span>
					<span><img src="__STATIC_PATH__/index/footer/img/auth.png" alt=""><div>在行沙龙</div></span>
				</div>
				<p class="dizhi">地址 北京市朝阳区建国路郎园Vintage </p>
				<p>电话 010-85809983</p>
			</div>
		</div>
		
	</div>
</body>
</html>