{include file="public/header"} 

 
<div class="mt-3">
    <form class="form-inline" style="margin:20px 0;" action="">
      <div class="form-group">
        <label>用户</label>
        <input type="text" class="form-control" name="user_nickname" placeholder="Jane Doe" value="{$user_nickname}">
      </div>
      <div class="form-group">
        <label>行家</label>
        <input type="text" class="form-control" name="tutor_name" placeholder="Jane Doe" value="{$tutor_name}">
      </div>
      <div class="form-group">
        <label>话题ID</label>
        <input type="text" class="form-control" name="topic_id" placeholder="1" value="{$topic_id}">
      </div>
      <button type="submit" class="btn btn-primary">搜索</button>
    </form>
    <table class="table">
        <tr>
            <th>编号</th>
            <th>话题</th>
            <th>用户</th>
            <th>行家</th>
            <th>问题</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {foreach $order_list as $value}
        <tr>
            <td>{$value['order_id']}</td>
            <td title="{$value['topic_id']}">{$value['topic_id']}</td>
            <td title="{$value['user_nickname']}">{$value['user_nickname']}</td>
            <td title="{$value['tutor_name']}">{$value['tutor_name']}</td>
            <td title="{$value['question']}">{$value['question']}</td>
            <td title="{$value['description']}">{$value['description']}</td>
            <td title="{$value['create_time']}">{$value['create_time']|date="Y-m-d H:i:s",###}</td>
            <td>
                {if $value['status']==0}
                待确认
                {elseif $value['status']==1}
                待付款
                {elseif $value['status']==2}
                待评论
                {else/}
                完成
                {/if}
            </td>
            <td>
                <a href="{:url('delete',['order_id'=>$value['order_id']])}" class="btn btn-danger">删除</a>
            </td>
        </tr>
        {/foreach}
    </table>
    <div>
     {$order_list->render()}
    </div>
</div>

{include file="public/footer"}