
{include file="common/header"}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/user/css/index.css">
<div class="personal_content">
	<div class="self-container">
		<div class="personal_left">
			<div class="user_head_pic">
				<img src="__STATIC_PATH__/{$user_info['user_img']}">
			</div>
			<ul class="setting_list">
				<li class="setting_menu">
					<a class="setting_item" href="{:url('index')}">
						<em class="active_icon"></em>
						我约的行家
					</a>
				</li>
				<li class="setting_menu">
					<a class="setting_item" href="{:url('wishlist')}">
						<em class="active_icon"></em>
						心愿单
					</a>
				</li>
				{if $Think.session.tutor_info}
				<li class="setting_menu">
					<a class="setting_item" href="{:url('topicList')}">
						<em class="active_icon"></em>
						我的话题
					</a>
				</li>
				<li class="setting_menu">
					<a class="setting_item" href="{:url('bookingList')}">
						<em class="active_icon"></em>
						预约单
					</a>
				</li>
				<li class="setting_menu">
					<a class="setting_item" href="{:url('commentList')}">
						<em class="active_icon"></em>
						收到的评论
					</a>
				</li>
				{/if}
				<li class="setting_menu active">	
					<a class="setting_item" href="{:url('coupon')}">
						<em class="active_icon"></em>
						我的礼券
					</a>
				</li>
				<li class="setting_menu">
					<a class="setting_item">
						<em class="active_icon"></em>
						个人设置
						<span class="list_icon_box">
							<i class="drop_icon"></i>
						</span>
					</a>
					<ul class="setting_user_list">
						<li><a href="{:url('profile')}">个人资料</a></li>
						<li><a href="{:url('avatar')}">头像设置</a></li>
						<li><a href="{:url('mobile')}">验证手机</a></li>
						<li><a href="{:url('password')}">设置密码</a></li>
						<li><a href="{:url('receipt_accounts')}">收款及隐私</a></li>
					</ul>
				</li>
			</ul>  
		</div>
		<div class="personal_right">
			<div class="personal_info">
				<div class="user_content">
					<h2>
						我的礼券
						<span class="gift_rule">使用规则</span>
					</h2>
					<div class="setting-content">
						<div class="gift_regulation">
							<span class="icon icon-close-menu gift_closeBtn">X</span>
							<p class="question">1 . 礼券可以做什么？</p>
							<p class="answer">可以抵扣在线支付时的实际支付金额。</p>
							<p class="question">2 . 礼券如何使用？</p>
							<p class="answer">发起约见后，在线支付时满足礼券使用条件，系统提示有可用礼券，请您选择一张礼券用于抵扣相应的订单金额，
	     					支付剩余金额即可。礼券不可叠加使用。如果您不想使用礼券，也可以选择“不使用礼券”。</p>
							<p class="question">3 . 如何获得礼券？</p>
							<p class="answer">在行会不定期推出优惠活动，获得的礼券会存放在“我的礼券”中。惊喜常在，在行等你来！</p>
							<p class="question">4 . 如果支付的时候使用了礼券，但是后来约见取消了，礼券还会退还吗？</p>
							<p class="answer">非常抱歉，礼券一经使用即失效，如果约见取消，您所支付的约见费中礼券部分将不会返还，但其他支付方式的费
	     					用会返回您的账户。请谨慎使用礼券。</p>
	     					<p class="tip blank">「在行」保留对该活动的最终解释权。</p>
	     					<p class="tip">如有疑问，请致电在行客服：4000-691-791（工作日：10:00-19:00）</p>
						</div>
						<div class="gift_coupons">											
							<div class="coupon-usable">
								<div class="title">
									新用户专属
									<p class="denomination">
										<span class="unit">￥</span>50
									</p>
								</div>
								<ul class="description">							
									<li>满99元可用</li>			
								</ul>
								<p class="tip">
									2017-09-15至2017-09-28有效
								</p>
							</div>														
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__STATIC_PATH__/index/user/js/index.js"></script>
{include file="common/footer"}