
{include file="common/header"}
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/index/user/css/index.css">
<div class="personal_content">
	<div class="self-container">
		<div class="personal_left">
			<div class="user_head_pic">
				<img src="__STATIC_PATH__/{$user_info['user_img']}">
			</div>
			<ul class="setting_list">
				<li class="setting_menu">
					<a class="setting_item" href="{:url('index')}">
						<em class="active_icon"></em>
						我约的行家
					</a>
				</li>
				<li class="setting_menu">
					<a class="setting_item" href="{:url('wishlist')}">
						<em class="active_icon"></em>
						心愿单
					</a>
				</li>
				{if $Think.session.tutor_info}
				<li class="setting_menu">
					<a class="setting_item" href="{:url('topicList')}">
						<em class="active_icon"></em>
						我的话题
					</a>
				</li>
				<li class="setting_menu">
					<a class="setting_item" href="{:url('bookingList')}">
						<em class="active_icon"></em>
						预约单
					</a>
				</li>
				<li class="setting_menu">
					<a class="setting_item" href="{:url('commentList')}">
						<em class="active_icon"></em>
						收到的评论
					</a>
				</li>
				{/if}
				<li class="setting_menu">	
					<a class="setting_item" href="{:url('coupon')}">
						<em class="active_icon"></em>
						我的礼券
					</a>
				</li>
				<li class="setting_menu active">
					<a class="setting_item">
						<em class="active_icon"></em>
						个人设置
						<span class="list_icon_box">
							<i class="drop_icon"></i>
						</span>
					</a>
					<ul class="setting_user_list" style="display: block">
						<li><a href="{:url('user/profile')}">个人资料</a></li>
						<li><a href="{:url('user/avatar')}">头像设置</a></li>
						<li class="active"><a href="{:url('user/mobile')}">验证手机</a></li>
						<li><a href="{:url('user/password')}">设置密码</a></li>
						<li><a href="{:url('user/receipt_accounts')}">收款及隐私</a></li>
					</ul>
				</li>
			</ul>  
		</div>
		<div class="personal_right">
			<div class="personal_info">
				<div class="user_content">
					<h2>验证手机</h2>
					<div class="setting_content mobile_num">
						{if $show}
						<div class="form-tip form-success">修改成功</div>
						{/if}
						<form class="check_mobile" action="{:url('mobile')}">
							<div class="form-group">
								<input type="text" name="user_phone" placeholder="手机号" value="{$user_info['user_phone']}">
								<input type="button" name="" value="发送手机验证码"  class="btn btn-primary submit_btn" onclick="sendMobileCap()">
								<span class="form_error"></span>
							</div>
							<div class="form-group">
								<input type="text" name="code" placeholder="验证码">
								<input type="button" value="提交" class="btn btn-primar submit_btn" onclick="editMobile()">
								<span class="form_error"></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var editMobile_ajax_url = "{:url('editMobile')}";
	var sendMobileCap_ajax_url = "{:url('sendMobileCap')}";
	var to_url = "{:url('mobile',['show' => true])}";

</script>
<script src="__STATIC_PATH__/index/user/js/index.js"></script>
{include file="common/footer"}